@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    background-color: lightblue;
    color: white;
    height: 100%;
    height: auto;
    width: 200px;
    border-radius: 15px;
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
.imgmaincontent{
    width: 800px;
    border-radius: 25px;
    border: 2px dotted white;
}
.cont{
    font-size: 25px;
    padding: 10px;
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }